.films-page__wrapper {
  @include flex-column;
  flex-wrap: wrap;
  padding: var(--space-md);
}

.films-page__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  gap: 20px;
  width: 100%;
  padding-top: var(--space-md);
}