.main-page__wrapper {
  padding: var(--space-md);
  @include flex-column;
  flex-wrap: wrap;
}

.dashboard {
  padding-top: var(--space-md);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;

  &-item {
    @include flex-column;
    justify-content: space-between;
    background-color: rgb(255 255 255 / 0.05);
    backdrop-filter: blur(4px);
    padding: var(--space-md);
    border-radius: var(--radius-md);
    gap: 25px;
    border: 1px solid var(--color-border);
    min-width: 350px;
    box-shadow: var(--shadow-md);
    transition: var(--transition-normal);
    min-height: 130px;
    animation: fade-in .40s ease;
  }

  &-header {
    @include flex-row;
    align-items: center;
    gap: 8px;
  }

  &-tag {
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-full);
    background-color: var(--tag-movie-bg);
    font-weight: var(--font-weight-bold);
  }

  &-title {
    font-size: var(--font-size-lg);
  }
}

.dashboard-rating__wrapper {
  @include flex-column;
  gap: 30px;
}

.best-film__container {
  @include flex-between-row-center;

  .best-film__diagram {
    @include flex-column;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    padding: var(--space-xl);
    border: 5px solid var(--color-primary);
    width: 100px;
    height: 100px;
    font-size: var(--font-size-2xl);
    animation: scale-in 0.7s ease;
  }

  .best-film__title {
    font-size: var(--font-size-2xl);
  }
}