@mixin flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-between-row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}